body {
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9); 
    z-index: -1;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container{
    display: flex;
}

.image{
    width: 30px;
    margin-bottom: 10px;
}

.image-text{
    color: #fff;
    margin-left: 7px;
    font-size: 22px;
}

.text-container{
    margin-top: 30px;
    margin-bottom: 30px;
}

.big-text{
    color: rgb(170, 47, 170);
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    letter-spacing: 1px;
    background: linear-gradient(270deg, #ffffff 10%, #845f8f 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divider {
    /* display: inline-block; */
    border: 1px solid #fff;
    width: 20px;
    height: 5px;
    /* margin-left: 20px; */
}

.small-text{
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
    line-height: 22px;
    color: rgb(107, 199, 107);
}

.button-container{
    color: #ffffff;
    display: flex;
    border: 1px solid #ffffff;
    border-radius: 30px;
    padding: 7px 5px 9px 19px;
}

.input{
    border: none;
    background: transparent;
    color: #ffffff;
    outline: none;
}

.color{
    color: #ffffff;
}

.btn{
    padding: 12px 20px;
    border-radius: 50px;
    background: rgb(143, 50, 143);
    border: 1px solid rgb(143, 50, 143);
    cursor: pointer;
    color: #ffffff;
    margin-left: 16px;
    font-size: 19px;
}

@media (min-width: 250px) and (max-width: 520px){

    .image{
        width: 18px;
        margin-bottom: 10px;
    }
    
    .image-text{
        color: #fff;
        margin-left: 7px;
        font-size: 13px;
    }

    .text-container{
        margin-top: 3px;
        margin-bottom: 30px;
    }
   
    .big-text{
        line-height: 25px;
        font-size: 17px;
        letter-spacing: 0px;
    }

    .small-text{
        margin-top: 10px;
        font-size: 9px;
        line-height: 14px;
    }
    
    button-container{
        border-radius: 30px;
        padding: 7px 5px 9px 9px;
    }
    
    .btn{
        padding: 5px 10px;
        margin-left: 7px;
        font-size: 11px;
    }
}